.imgSales {
  width: 80%;
  max-width: 900px;
  min-width: 350px;
  display: block;
}
small {
  display: block;
  text-align: start;
  margin-left: 20px;
  margin-top: 8px;
}
.sales {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
