.all {
  width: 100vw;
  position: absolute;
  height: 100vh;
  z-index: 2;
  top: 0;
  left: 0;
}
.central {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.conditions {
  text-align: center;
}
